aiohttp==3.8.3
aiosignal==1.2.0
altgraph==0.17.3
appdirs==1.4.4
argcomplete==2.0.0
arrow==1.2.2
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
black @ git+https://github.com/psf/black@632f44bd68b818cbc9dfd57e7485f0e5c3863b76
blinker==1.6.2
cachetools==5.2.0
certifi==2020.12.5
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.3
cmake==3.24.1
colorama==0.4.5
discord.py==2.1.0
docopt==0.6.2
Flask==2.3.2
frozenlist==1.3.1
gevent==21.12.0
gevent-eventemitter==2.1
greenlet==1.1.3
grip==4.6.1
idna==2.10
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
keyboard==0.13.5
legendary-gl==0.20.6
Markdown==3.4.3
MarkupSafe==2.1.2
MouseInfo==0.1.3
multidict==6.0.2
mypy-extensions==1.0.0
mysql-connector-python==8.0.29
packaging==23.2
path-and-address==2.0.1
pathspec==0.12.1
pefile==2023.2.7
Pillow==9.5.0
platformdirs==4.2.0
protobuf==3.20.1
ptyprocess==0.7.0
PyAutoGUI==0.9.53
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.15.0
PyGetWindow==0.0.9
Pygments==2.15.1
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
PyMsgBox==1.0.9
pyperclip==1.8.2
PyQRCode==1.2.1
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
python-dotenv==0.21.0
pytweening==1.0.7
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.16.0
soupsieve==2.3.2.post1
steam==1.3.0
table2ascii==0.5.0
tk==0.1.0
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.4.0
urllib3==1.26.4
vdf==3.4
vpk==1.4.0
Werkzeug==2.3.4
xdg==5.1.1
yarl==1.8.1
zipp==3.15.0
zope.event==4.5.0
zope.interface==5.4.0
